p{
    color: white;
    background-color:red;
}
h1{
    color: white;
}
a{
    color: yellow;
}
/*Estilizado de ID */
#introduccion {
    color: yellow;
    background-color: green;
}
/*Estilizado de clases */
.titulares{
    color: blueviolet;
    background-color: tomato;
}